html,
body {
    min-height: 100%;
    margin: 0;
}

body {
    background-color: black;
    background-image: url("images/bg.gif");
    background-position: center;
    background-size: cover;
    font-family: Consolas, "Courier New", monospace;
}

body.ai-takeover,
body.success {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body.ai-takeover {
    background-image: url("images/terminator.gif");
}

body.success {
    background-image: url("images/celebrate.gif");
}

body.ai-takeover > *,
body.success > * {
    display: none;
}

body.success #successMsg {
    display: block;
}

#successMsg {
    display: none;
    color: white;
    text-align: center;
}

#timer {
    padding: 1em;
    border: 4px solid red;
    background-color: black;
    color: red;
    font-size: clamp(3rem, 10vw, 5rem);
}

#timer-wrap {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.masked-field {
    -webkit-text-security: disc;
}

#instructions {
    display: block;
    margin: 1rem;
    padding: 1em;
    background-color: black;
    color: pink;
    font-size: 1.5em;
    text-align: center;
}

/* D0ntUseTh1$P@ssw0rd! */
#code {
    border-radius: 10px;
    font-size: 2em;
    text-align: center;
}

#check {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-family: inherit;
    font-size: 5em;
    cursor: pointer;
}

@keyframes border-blink {
    0%,
    100% {
        border-color: red;
    }
    50% {
        border-color: black;
    }
}

#timer.wrong {
    animation: border-blink 0.5s ease-in-out 1;
}

@keyframes stress-flash {
    0%,
    100% {
        background-color: black;
    }
    50% {
        background-color: white;
    }
}

#timer.stress {
    animation: stress-flash 1s ease-in-out infinite;
}
